/*====== Colour ======*/

/* Sets toolbar to tab color */
toolbar#nav-bar {
  background: var(--toolbar-field-background-color) !important;
  box-shadow: none !important;
  padding-bottom: 4px !important;
}

/* Sets the URL bar to tab color */
#urlbar-background {
  background: var(--toolbar-field-background-color) !important;
  border: none !important;
}

/*====== UI Settings ======*/

:root {
  --navbarWidth: 450px; /* Set width of navbar. Use vw for a percentage of your window, or px for a fixed width */
  --animationSpeed: 0.5s;
}

#TabsToolbar {
  margin-left: var(--navbarWidth) !important;
}

#nav-bar {
  margin-right: calc(100vw - var(--navbarWidth)) !important;
}

#urlbar-container {
  min-width: 0px !important;
}

:root[uidensity="compact"] #nav-bar {
  margin-top: -37px !important;
  height: 37px !important;
}

:root:not([uidensity="compact"]):not([uidensity="touch"]) #nav-bar {
  margin-top: -44px !important;
  height: 44px !important;
}

:root[uidensity="touch"] #nav-bar {
  margin-top: -49px !important;
  height: 49px !important;
}

/*====== Hiding buttons ======*/

/* autohide back button */
#back-button {
    transform: scale(1, 1) !important;
    transition: margin-left 150ms var(--animation-easing-function), opacity 250ms var(--animation-easing-function), transform 350ms var(--animation-easing-function) !important;
}

#back-button[disabled="true"] {
    margin-left: -34px !important;
    opacity: 0 !important;
    transform: scale(0.8, 0.8) !important;
    pointer-events: none !important;
}

#forward-button,
#identity-box, /*site information */
#tracking-protection-icon-container, /* "Shield" icon */
#page-action-buttons,
#urlbar-go-button, /* Search URL magnifying glass */
#alltabs-button {
  display: none !important;
}

/* MIN MAX CLOSE Remove */
.titlebar-buttonbox-container {
  display: none !important;
}

/*====== Simplifying interface ======*/

#nav-bar {
  box-shadow: none !important;
}

/* remove "padding" left and right from tabs */
.titlebar-spacer {
  display: none !important;
}

/* remove gap after pinned tabs */
#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs])
  > #tabbrowser-arrowscrollbox
  > .tabbrowser-tab[first-visible-unpinned-tab] {
  margin-inline-start: 0 !important;
}

/* Element Hiding stuff */
.urlbar-icon,
#userContext-indicator,
#userContext-label {
  fill: transparent !important;
  background: transparent !important;
  color: transparent !important;
}
